body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #222831;
}

.condition{
  font-size: 25px;
  font-weight: 600;
}

.container{
  width: 80vw;
  height: 90vh;
  /* background-color: grey; */
  display: grid; 
  grid-template-columns: 3fr 1fr; 
  /* align-items: center; */
  /* justify-items: center; */
  /* background-image: url('./images/sunny.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover; 
  padding: 0 3%;
  border-radius: 20px;
}

.mainContent{
  /* background-color: brown; */
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center;  */
  /* align-content: space-between; */
  gap: 10%;
  width: 100%;
  height: 100%; 
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.upperDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.tempInfo{
  /* background-color: white; */
  padding: 5%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase; 
}

.upperDiv .temp{
   display: flex; 
  }

.upperDiv .tempNo{ 
  font-size: 8rem;
  font-weight: 800; 
  padding: 0;  
  margin: 0;
}
.upperDiv .degree{
  margin-top: 20px;
  font-size: 2rem;
  font-weight: 800; 
  /* padding-top:20px; */
  } 

.upperDiv .name{
  font-size: 2em;
  font-weight: 800; 
}
 
.lowerdiv{
  display: flex; 
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  opacity: 90%;
  border-radius: 15px;
  height: 15%;
   
}

.lowerdiv span{
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 15px;
}
.input{
  display: flex; 
  gap: 10px;
}

.input > input {
  padding: 10px;
  border: none;
  border-radius: 10px; 
  font-size: 18px;
}

.lowerdiv > span > h1 {
  text-transform: uppercase;
  font-weight: 600
}

.input > button{
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #222831;
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 800;
}

.extraContent{
  /* background-color: gold; */
  display: flex;
  justify-content: center; 
  padding: 2% 0;

}  
 
#content{
  /* background-color: red; */
  display: flex;  
  flex-direction: column-reverse;  
  gap: 4%;
  width: 100%;
  height: 100%;
}

.card{ 
  padding: 5%;
  background-color: white;
  opacity: 95%;
  height: 100%;
  width: 100%; 
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; 

  }

.cityContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.city-data div{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  line-height: 10px;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}

.city-data div span{
  /* justify-self: start; */
  line-height: 13px;
  width: 80px;
 
}

.city-data div img{
  /* justify-self: start; */
  height: 6.5vh;
  width: 3vw;
}


.card .temperature{
  text-transform: uppercase;
  /* font-weight: 600; */
  font-size: 4rem;
}

.card .city-name{
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1rem;
}
