body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.container{
  width: 80vw;
  height: 100vh;
  /* background-color: grey; */
  display: grid; 
  grid-template-columns: 3fr 1fr; 
  /* align-items: center; */
  /* justify-items: center; */
  background-image: url('./images/sunny.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  padding: 3%;
}

.mainContent{
  /* background-color: brown; */
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center;  */
  /* align-content: space-between; */
  gap: 10%;
  width: 100%;
  height: 100%; 
  padding-right: 5%;
}

.upperDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.tempInfo{
  /* background-color: white; */
  padding: 5%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase; 
}

.upperDiv .temp{
   display: flex; 
  }

.upperDiv .tempNo{ 
  font-size: 8rem;
  font-weight: 800; 
  padding: 0;  
  margin: 0;
}
.upperDiv .degree{
  margin-top: 20px;
  font-size: 2rem;
  font-weight: 800; 
  /* padding-top:20px; */
  } 

.upperDiv .name{
  font-size: 2em;
  font-weight: 800; 
}
 
.lowerdiv{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  opacity: 90%;
  border-radius: 15px;
  height: 15%;
   
}

.input{
  display: flex;
  background-color: gray ; 
}

.extraContent{
  /* background-color: gold; */
  display: flex;
  justify-content: center; 
  padding: 2% 0;

}  
 
#content{
  /* background-color: red; */
  display: flex;  
  flex-direction: column-reverse; 
  gap: 1%;
  width: 100%;
  height: 100%;
}

.card{ 
  padding: 4%;
  background-color: white;
  opacity: 90%;
  height: 100%;
  width: 100%; 
  border: 1px solid white;
  border-radius: 15px;
}

